<div>
  <h4>Add a question</h4>
  <form ng-submit="QuestionsFactory.addQuestion()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="QuestionsFactory.question" class="form-control" placeholder="Enter a question">
    </div>
    <button type="submit" class="btn btn-primary">Add Question</button>
  </form>
</div>
<div class="row" ng-show="questions.length">
  <h4>Questions</h4>
  <ol>
    <li ng-repeat="item in questions">
      <span>
        {{ item.question }}
      </span>
    </li>
  </ol>
</div>
