<div ng-controller="ResponsesCtrl">
  <div ng-show="questions.length">
    <h3>Please complete the survey</h3>
    <form class="form-inline" role="form">
      <ol>
        <li ng-repeat="item in questions">
          <span>
            {{ item.question }}
            <input type="text" ng-model="questionResponse" class="form-control">
          </span>
        </li>
      </ol>
      <button ng-submit="addResponse()" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
<div ng-show="question.responses.length">
  <h3>Responses to your survey questions</h3>
  <ol>
    <li ng-repeat="item in question.responses">
      {{ item.response }}
    </li>
  </ol>
</div>
